@{
    ViewData["Title"] = "Contacto";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    IES Martínez Montañés<br />
    Calle Fernández de Ribera 17<br />
    <abbr title="Phone">Tef:</abbr>
    955623877
</address>

<address>
    <strong>Contacto ventanilla:</strong> <a href="mailto:ventanilla@iesmartinezm.es">ventanilla@iesmartinezm.es</a><br />
    <strong>Contacto webmaster:</strong> <a href="mailto:ismael.luelmo@iesmartinezm.es">ismael.luelmo@iesmartinezm.es</a>
</address>
